In [139]:
import pandas as pd

In [140]:
df = pd.read_csv('data/Aviation_Data.csv')

/var/folders/bt/mf607s9n0xs6sr08g8c44w9c0000gn/T/ipykernel_22526/3151680963.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Aviation_Data.csv')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [142]:
df.shape

(90348, 31)

In [143]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [144]:
df['Aircraft.damage'].value_counts()

Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: count, dtype: int64

In [145]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [146]:
#Most Important Columns need NAN cleaning
#Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured,

In [147]:
#DROP ROWS FIRST WITH NANS THEN DROP COLUMNS


#DATA Cleaning
# Change Injuiry.Severity, Aircraft.damage
#rename Country column to state
#Delete NANs Event.ID, Accident Number, Event Date (look closer, think they are all the same NANs), 
#Delete rows in Amateur.Built with values of yes

#columns to drop: 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Accident.Number', 'Registration.Number', 'Country', 'Publication Date', 'Registration Number', 'Air Carrier', 'Report Status'

In [148]:
columns_to_drop = ['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Accident.Number', 'Registration.Number', 'Country', 
                   'Publication.Date', 'Registration.Number', 'Air.carrier']
df_columns_dropped = df.drop(columns_to_drop, axis = 1)

In [149]:
df_columns_dropped_no_amatuer = df_columns_dropped[(df_columns_dropped['Amateur.Built'] == 'No')]


df_columns_dropped_no_amatuer = df_columns_dropped_no_amatuer.drop(['Amateur.Built'], axis = 1)
df_columns_dropped_no_amatuer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80312 entries, 0 to 90347
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                80312 non-null  object
 1   Investigation.Type      80312 non-null  object
 2   Event.Date              80312 non-null  object
 3   Location                80265 non-null  object
 4   Injury.Severity         79313 non-null  object
 5   Aircraft.damage         77165 non-null  object
 6   Aircraft.Category       28721 non-null  object
 7   Make                    80266 non-null  object
 8   Model                   80245 non-null  object
 9   Number.of.Engines       74606 non-null  float64
 10  Engine.Type             73630 non-null  object
 11  FAR.Description         28476 non-null  object
 12  Schedule                12275 non-null  object
 13  Purpose.of.flight       74242 non-null  object
 14  Total.Fatal.Injuries    70155 non-null  float64
 15  Total.Serious.Injuries  69228 non-null  float64
 16  Total.Minor.Injuries    69755 non-null  float64
 17  Total.Uninjured         75425 non-null  float64
 18  Weather.Condition       75960 non-null  object
 19  Broad.phase.of.flight   56146 non-null  object
 20  Report.Status           74276 non-null  object
dtypes: float64(5), object(16)
memory usage: 13.5+ MB

In [150]:
#New Metrics
#Idea for metrics: looking at a percentage of passengers that remain uninjured: summing all injured and uninjured and using that to divide to
#count of uninjured
#metric Idea: give a severity score for each type of injury and then give a passenger safety score

In [151]:
#Cleaning NANS from injury totals by replacing with 0

df_columns_dropped_no_amatuer[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']] = df_columns_dropped_no_amatuer[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']].fillna(0)


#df_columns_dropped_no_amatuer.sort_values('Total.Fatal.Injuries', ascending = False)

In [152]:
## Adding new column with total injuries (total fatal, serious and minor injuiries) and percentage of uninjuired

df_columns_dropped_no_amatuer['Total Injuries'] = df_columns_dropped_no_amatuer['Total.Fatal.Injuries'] + df_columns_dropped_no_amatuer['Total.Serious.Injuries'] + df_columns_dropped_no_amatuer['Total.Minor.Injuries'] + df_columns_dropped_no_amatuer['Total.Uninjured']
df_columns_dropped_no_amatuer['Percent Uninjuired'] = (df_columns_dropped_no_amatuer['Total.Uninjured']/df_columns_dropped_no_amatuer['Total Injuries'])* 100
df_columns_dropped_no_amatuer['Percent Uninjuired'].value_counts()

Percent Uninjuired
100.000000    43870
0.000000      29430
50.000000      2323
66.666667       711
33.333333       459
              ...
98.219585         1
85.470085         1
91.304348         1
88.709677         1
97.765363         1
Name: count, Length: 586, dtype: int64

In [153]:
#sort by number of engine and engine type, model

In [154]:
#drop anything thats not a plane "Aircraft category'
#change all NANs to airplane ~ assumption being that the distribution skews heavily towards airplanes to safe to assume we can call all airplanes
df_columns_dropped_no_amatuer['Aircraft.Category'] = df_columns_dropped_no_amatuer['Aircraft.Category'].fillna('Airplane')
df_columns_dropped_no_amatuer.isna().sum()

df_trimmed = df_columns_dropped_no_amatuer[(df_columns_dropped_no_amatuer['Aircraft.Category'] == 'Airplane')]

In [155]:
columns_to_drop_pt2 = ['Aircraft.Category', 'Schedule', 'FAR.Description']
df_trimmed = df_trimmed.drop(columns_to_drop_pt2, axis = 1)

In [156]:
#drop all events before 1982


df_trimmed = df_trimmed.drop(df_trimmed.index[0:7])
df_trimmed

,Event.Id,Investigation.Type,Event.Date,Location,Injury.Severity,Aircraft.damage,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Total Injuries,Percent Uninjuired
7,20020909X01562,Accident,1982-01-01,"PULLMAN, WA",Non-Fatal,Substantial,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,2.0,100.0
8,20020909X01561,Accident,1982-01-01,"EAST HANOVER, NJ",Non-Fatal,Substantial,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,2.0,100.0
9,20020909X01560,Accident,1982-01-01,"JACKSONVILLE, FL",Non-Fatal,Substantial,North American,NAVION L-17B,1.0,Reciprocating,Personal,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,3.0,0.0
10,20020909X01559,Accident,1982-01-01,"HOBBS, NM",Non-Fatal,Substantial,Piper,PA-28-161,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,1.0,100.0
11,20020909X01558,Accident,1982-01-01,"TUSKEGEE, AL",Non-Fatal,Substantial,Beech,V35B,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,1.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,2022-12-26,"Annapolis, MD",Minor,NaN,PIPER,PA-28-151,NaN,NaN,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,1.0,0.0
90344,20221227106494,Accident,2022-12-26,"Hampton, NH",NaN,NaN,BELLANCA,7ECA,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN
90345,20221227106497,Accident,2022-12-26,"Payson, AZ",Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,1.0,100.0
90346,20221227106498,Accident,2022-12-26,"Morgan, UT",NaN,NaN,CESSNA,210N,NaN,NaN,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN
90347,20221230106513,Accident,2022-12-29,"Athens, GA",Minor,NaN,PIPER,PA-24-260,NaN,NaN,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,2.0,50.0

In [158]:
#figure out scores for aircraft damage as a percentage of the total plane cost

descr_to_score = {'Destroyed': 100, 'Substantial': None, 'Minor': None}

df_trimmed['Aircraft.damame'].replace(
df_trimmed['Aircraft.damage'].value_counts()

Aircraft.damage
Substantial    54554
Destroyed      15796
Minor           2583
Unknown           97
Name: count, dtype: int64